.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.items {
  display: inline-block;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.color {
  display: block;
  font-size: 1.5rem;
}

.btn {
  font-size: 18px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  background-color: white;
  color: black;
  padding: 6px 1rem;
  cursor: pointer;
}
